
.sidebar {
  padding: 0px 10px 20px 30px;

  &__logo {
    height: 70px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--color-bg);
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 50px;
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 15px;

  }

  &__listItem {
    color: rgb(250, 250,250,0.8);
    font-size: 16px;
    border: 2px solid transparent;
    &:hover{
      color: var(--color-bg);
    }
  }


}

.sidebar__listItem {


}

.sidebar__listItem.sidebar__listItem_active {
    border-bottom: 2px solid var(--color-orange);
    color: var(--color-bg);
}
