.rates{
    margin-bottom: 180px;
  &__switchers{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    button{
      padding: 10px 20px;
      background: var(--color-other);
      color: var(--color-text);
      font-size: 1.2rem;
      border: 2px solid var(--color-other);

    }
    &__switcher_true{
      border: 1px solid var(--color-btn);
    }

    &__switcher_ative{

    }
  }
  &__content{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
  }
  
  @media (max-width: 768px) {
    &__content{
      overflow: auto;
      justify-content: start;
      gap: 30px;
    }

  }
}
button.rates__switcher_true{
  border: 1px solid var(--color-btn);
}